<div class="nav-content-separator"></div>
{{#if my.message}}
<div class="error-success">
  <h2 class="error-success__mesg">{{my.message}}</h2>
  <div class="error-success__close">
{{else}}
<div class="error-success close">
  <h2 class="error-success__mesg"></h2>
  <div class="error-success__close close">
{{/if}}
    <div class="x-limbs x-limb-1"></div>
    <div class="x-limbs x-limb-2"></div>
  </div>
</div>
