<section>
  <nav class="nav-bar">
    <div class="nav-content-separator"></div>

    <div class="profile">
      <div class="profile__head"></div>
      <div class="profile__body"></div>
    </div>

    <div class="username">
      <p class="username__name">{{my.username}}</p>
    </div>

    <div class="account-actions">
      <a href="/logout" class="account-logout btn">Log out</a>
      <a href="/deleteaccount" class="account-delete btn">Delete account</a>
      <a href="" class="account-changeusername btn">Change username</a>
      <a href="" class="account-changepassword btn">Change password</a>
    </div>

    <div class="topic-section">
      <h2 class="topic-section__head">Topics</h2>
      {{#each my.topics}}
      <div class="topic">
        <a href="{{catcode '/topics/topic/' topic_name}}">{{topic_name}}</a>
      </div>
      {{/each}}
    </div>

    <div class="topic-actions">
      <a href="" class="add-topic btn">Add topic</a>
    </div>
  </nav>
</section>
