<div class="topic-popup">
	<p class="topic-popup__label">Enter topic name:</p>
	<input type="text" class="topic-popup__text">
	<div class="topic-popup__btns">
		<a href="" class="popup-btn__ok btn">OK</a>
		<a href="" class="popup-btn__cancel btn">Cancel</a>
	</div>
</div>

<form class="changeusername-popup" action="/changeusername" method="post">
	<label for="new-username" class="changeusername-popup__label">Enter new username:</label>
	<input type="text" class="changeusername-popup__text" name="new-username" required>
	<div class="changeusername-popup__btns">
		<button type="submit" class="username-popup-btn__ok btn">OK</a>
		<button type="button" class="username-popup-btn__cancel btn">Cancel</a>
	</div>
</form>

<form class="changepassword-popup" action="/changepassword" method="post">
	<p class="changepassword-popup__label">Change password:</p>
	<div class="old-password-container">
		<label for="old-password">Enter old password</label>
		<input type="password" class="changepassword-popup__text" name="old-password" required>
	</div>
	<div class="password-container">
		<label for="password">Enter new password</label>
		<input type="password" class="changepassword-popup__text" name="password" required>
	</div>
	<div class="password1-container">
		<label for="password1">Confirm new password</label>
		<input type="password" class="changepassword-popup__text" name="password1" required>
	</div>
	<div class="changepassword-popup__btns">
		<button type="submit" class="password-popup-btn__ok btn">OK</a>
		<button type="button" class="password-popup-btn__cancel btn">Cancel</a>
	</div>
</form>

<div class="overlay"></div>
