<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{my.title}}</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/main.min.css">
</head>
<body>

	{{{body}}}

	<div class="spacer" style="flex-grow:1"></div>

	<footer>
		<div class="footer-container">
			<div class="footer__caption">
				<h2>The only way to take notes in a modern world</h2>
			</div>
			<div class="footer__copyright">
				<p>kelsey km &#169;2021</p>
			</div>
		</div>
	</footer>
	<script src="/js/axios.min.js" charset="utf-8" defer></script>
	<script src="/js/ckeditor/ckeditor.js" charset="utf-8" defer></script>
	<script src="/js/main.min.js" charset="utf-8" defer></script>
</body>
</html>
